[submodule "klee"]
	path = klee
	url = https://github.com/klee/klee.git
[submodule "stp"]
	path = stp
	url = https://github.com/stp/stp.git
[submodule "emotor"]
	path = emotor
	url = git@rtime.felk.cvut.cz:emotor
[submodule "whole-program-llvm"]
	path = whole-program-llvm
	url = https://github.com/travitch/whole-program-llvm.git
[submodule "macan"]
	path = macan
	url = https://github.com/horenmar/macan.git
[submodule "llvm"]
	path = llvm
	url = http://llvm.org/git/llvm.git
	branch = release_33
[submodule "clang"]
	path = clang
	url = http://llvm.org/git/clang.git
	branch = release_33
[submodule "compiler-rt"]
	path = compiler-rt
	url = http://llvm.org/git/compiler-rt.git
	branch = release_33
