[submodule "klee"]
	path = klee
	url = https://github.com/klee/klee.git
[submodule "stp"]
	path = stp
	url = https://github.com/stp/stp.git
[submodule "emotor"]
	path = emotor
	url = git@rtime.felk.cvut.cz:emotor
[submodule "whole-program-llvm"]
	path = whole-program-llvm
	url = https://github.com/travitch/whole-program-llvm.git
